@import '@/styles/_variable.scss';

.api-wrapper {
  cursor: pointer;

  .title {
    font-size: 24px;
    margin-bottom: 22px;
  }

  .api-resource-container {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px 20px 20px 80px;
    position: relative;

    .api-id {
      display: grid;
      place-items: center;
      height: 80%;
      width: 60px;
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-right: 1px solid $sixth-grey;
    }

    .api-title {
      font-size: 20px;
    }

    .api-body {
      font-size: 14px;
    }
  }
}
