@import '@/styles/_variable.scss';

.section-container {
  width: 100%;
  font-size: 14px;

  .title-container {
    color: $primary-black;
    margin-bottom: 10px;
  }

  :global(.modal-wrapper) {
    .body {
      font-size: 32px;
      font-weight: bold;
      color: $primary-green;
    }
  }

  .upload-form {
    color: $sixth-black;
    border: 1px solid $third-grey;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;

    .upload-row,
    .download-row {
      width: 100%;
      display: grid;
      align-items: center;
      gap: 10px;

      .button {
        padding: 10px 20px;
        color: $fourth-blue;
        border: 1px solid $fourth-blue;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        user-select: none;
      }
    }

    .upload-row {
      grid-template-columns: 150px 1fr 68px;
      margin-bottom: 10px;

      .file-name {
        display: flex;
        flex-direction: column;

        .fa-xmark {
          cursor: pointer;
          margin-right: 5px;
        }

        .error-msg {
          font-size: 12px;
          color: $primary-red;
        }
      }
    }

    .download-row {
      grid-template-columns: 150px 1fr;
      align-items: center;
    }
  }
}
