.sample-container {
  .title {
    font-size: 24px;
    margin-bottom: 22px;
  }

  .button-components {
    display: flex;
    margin-bottom: 1rem;
  }

  :global(.modal) {
    :global(.modal-bottom) {
      div {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
