input {
  &[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    border: none;
    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-color: $primary-white !important;
      border: 1px solid $eighth-grey;
      border-radius: 3px;
    }
    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 7px;
      margin: -14px 0 0 6px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:checked {
      &::before {
        background-color: $third-blue !important;
        border: 1px solid $third-blue;
      }
      &::after {
        border: white solid;
        border-width: 0 1px 1px 0;
      }
    }
  }
}
.checkbox-container {
  display: flex;
  align-items: center;
  label {
    color: $sixth-black;
    font-size: 14px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}
