.x-cancel-icon {
  display: block;
  background-color: #fff;
  background-image: url('../assets/images/btn_cancel_normal.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  float: right;
  border: none;
  cursor: pointer;
}
