.title {
  font-size: 24px;
  margin-bottom: 22px;
}

.add-todo {
  display: flex;
  align-items: center;

  .fa-square-plus {
    font-size: 20px;
    margin-left: 5px;
  }

  input {
    border-radius: 50px;
    padding: 5px 15px;
  }
}

.todo-list {
  list-style: none;
  li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    .fa-square-minus {
      cursor: pointer;
    }
  }
}

.empty-hint {
  margin-left: 5px;
  color: red;
  font-weight: bold;
  font-size: 14px;
}
