@import '@/styles/_variable.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $primary-grey;
}

ul {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.grid-center {
  display: grid;
  place-items: center;
}

.fa-solid {
  cursor: pointer;
}
